/* main style */
:root {
  --test: 1px solid red;

  --main-bg: #e4eaee;
  --main-txt-clr: #111;
  
  --shadow-ultralight: 2px 2px 8px 1px lightgray;
  --shadow-light: 4px 4px 12px 2px lightgray;
  --shadow-med: 4px 4px 12px 2px darkgray;
  --shadow-high: 4px 4px 12px 2px gray;
  
  --btn-success: #27a727;
}

* {
  box-sizing: border-box;
  font-family: "Vazir";
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--main-bg);
  color: var(--main-txt-clr);
}